<div class="container">
  <div class="navLink">
    <button class="logo" routerLink="">MovieDB</button>
    <div class="linkList">
      <a routerLink="home" routerLinkActive="active">Recommended to watch</a>
      <a routerLink="movies" routerLinkActive="active">All Movies</a>
    </div>
  </div>
  <div class="user">
    <a routerLink="search" routerLinkActive="active">Search</a>
    <img src="https://i.pinimg.com/736x/9c/97/7b/9c977b7fae492a444604f3088f829537.jpg" alt="avatar">
    <h2>Babki_322</h2>
  </div>
</div>
